@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* Reset */

*, *::before, *::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/* Conteúdo */

.wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singup{
  max-width: 50rem;
  width: 100%;
}

.singup__title{
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  color: #222C59;
  ;
}

.form{
  margin-top: 1.5rem;
}

.form__group{
  margin-bottom: 2rem;
  position: relative;
}

.form__input-text{
  height: 6rem;
  width: 100%;
  background-color: #F5F6F8;
  border: .2rem solid #EDEDF1;
  border-radius: .8rem;
  outline: none;
  position: relative;
  padding-left: 4.5rem;
  font-size: 1.5rem;

}

.form__input-text::placeholder{
  font-weight: bold;
  color: #C1C6D0;
}

.form__input-text.error{
  border-color: #D95150;
}

.form__label{
  font-size: 1.5rem;
  color: #454653;
}

.form__link{
  color: #00A9C8;
}

.form__label.hide{
  position: absolute;
  left: 0;
  top: 1rem;
}

.form__input-icon{
  color: #8A93A5;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 2.2rem;
  font-size: 1.5rem;
}

.form__input-icon.fa-eye{
  left: auto;
  right: 2rem;
}

.form__input-checkbox{
  margin-right: .5rem;
  cursor: pointer;
}

.form__button-submit{
  background-color: #00A9C8;
  border-radius: 2.5rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  height: 5rem;
  margin-top: 2rem;
  width: 15rem;
}

.requirements{
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 1rem;
}

.requeriments__progress-bar{
  height: .5rem;
  background: #f3e24a;
  width: 0;
  border-radius: .5rem;
  margin-bottom: 1.5rem;

}

.requirements__description, .requirements__item{
  color: #9EA4AC;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}
.requirements__description{
  margin-bottom: 1.5rem;
}

.form__group-center{
  text-align: center;
}

.form__message-error{
  color: #D95150;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  font-weight: bold;
  
  display: none; 
  

}

.requirements__item.checked{
  color: #81BC3A;
  font-weight: bold;
}